<div id="search-component">
    <h4>Hero Search</h4>
   
    <!--Every time the user types in the textbox, the binding calls search() with the textbox value, a "search term".
       The searchTerms becomes an Observable emitting a steady(costante) stream of search terms.-->
    <input #searchBox id="search-box" (keyup)="search(searchBox.value)" />
   
    <ul class="search-result">
      <li *ngFor="let hero of heroes$ | async" > <!--The $ is a convention that indicates heroes$ is an Observable, not an array.      -->
        <a routerLink="/detail/{{hero.id}}">
          {{hero.name}}
        </a>
      </li>
    </ul>
</div>